# STM32CubeIDE / Eclipse
.metadata/
.settings/
.project
.cproject
.mxproject

# Build outputs
Debug/
Release/
build/
*.elf
*.bin
*.hex
*.map
*.list
*.o
*.d
*.su
*.cyclo

# Local/editor files
.vscode/
.idea/
*.swp
*.tmp
Thumbs.db

# SD card test logs
GNSS*.UBX
*.ubx

